/* Universal Styling Elements */

* {
    /*border-style: dotted;*/
    /*border-color: blue;*/
    color: #484848;
    /*letter-spacing: 1px;*/
}

a {
    color: #484848;
    text-decoration: none;
    letter-spacing: 1px;
}

p {
    font-weight: lighter;
    color: #808080;
    letter-spacing: 1px;
}

/* For Styling the Entire Page Container */
.wrapper {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

/* For styling the header */
.header {
    background: #F5F5F5;
}

.header h1 {
    margin: 0;
    padding-top: 15px;
}

.header p {
    margin: 20px;
    padding-bottom: 25px;
}

.header ul {
    padding: 0;
    margin: 20px;
}

.header li {
    list-style-type: none;
    background: white;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
}

.header img {
    padding-top: 10px;
    width: 55%;
}


/* For styling the content */
.portfolio {
    padding-bottom: 25px;
}

.card {
    margin: 20px;
    padding-bottom: 10px;
}


.card p {
    margin: 20px;
}

.card img {
    width: 90%;
    height: auto;
}


/* For styling the footer */
.footer {
    background: #F5F5F5;
    padding-top: 25px;
}

.contact {
    padding: 20px 20px 75px 20px;
}

.contact p {
    margin: 20px;
    padding-bottom: 40px;
}

.nav {
    background: #F5F5F5;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 65px;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

.nav hr {
    width: 90%;
}

.nav #student {
    position: absolute;
    left: 25px;
}

.nav #backtotop {
    position: absolute;
    right: 25px;
}


/* ---- Float clearfix ---- */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}


@media (min-width: 768px) {

	.container {
		width: 80%;
		max-width: 1150px;
	}

}

@media (min-width: 1024px) {

	.container {
		width: 80%;
		max-width: 1150px;
	}

}